<a href="https://colab.research.google.com/github/GabrielCdev/ANAC_BigData_Analysis/blob/main/ANAC_Dataset_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise da base de vôos registrados pela ANAC (2021)

1. Descrever a base e todos os atributos;

2. Limpeza inicial dos dados:
- Remover linhas duplicadas;
- Correção dos tipos de dados dos atributos;
- Identificar e tratar dados ausentes (lembrar que podem existir dados ausentes que não sejam nulos, ex.: peso com valor 0, strings como "-", etc.) e tratar (exclusão, preencher com mediana ou, se série temporal, com o valor imediatamente anterior ou posterior);
- Identificar outliers e, se necessário, tratá-los.
- Lembrem-se que outliers podem ser reais, como um salário do presidente da empresa, ou fruto de erros, como uma pessoa com 250 anos. Outliers reais podem ser mantidos em fase de análise exploratória para compreensão dos dados, outliers provenientes de erros devem ser tratados, seja com exclusão ou preenchimento (similar ao tratamento de dados ausentes).

3. Análise univariada: analisar a distribuição de todos os atributos de acordo com o tipo de informação que eles trazem (atributos contínuos e categóricos são analisados de forma diferente). Exemplos de análises:
- Identificar presença de outliers;
- Desbalanceamento entre categorias (atributos categóricos);
- Os dados seguem uma distribuição normal? (atributos contínuos);
Relação entre média, mediana, máximo, mínimo...

4. Análise bivariada:
- Identificar quais atributos são mais correlacionados;
- Escolher um atributo target, analisar os dados em função dele e destacar os insights que tiveram;
- Durante esse processo vocês devem responder pelo menos 7 perguntas envolvendo:
- 2 atributos categóricos;
- 2 atributos contínuos;
- 1 atributo contínuo x 1 atributo categórico.

....:::: Membros ::::....

Gabriel Calheiros

Izadora Paim

Laianne Protasio

#Objetivo
O objetivo central desta análise é compreender o volume de voos, bem como seus status de execução, atrasos e cancelamentos no ano 2021, após o início dos decretos de enfrentamento à pandemia no Brasil (lockdown - 2020).

#Importação de Dados

In [36]:
# Importação de bibliotecas
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
# Carga dos dados .csv
anac_jan = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_01_2021.csv', sep=';')
anac_feb = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_02_2021.csv', sep=';')
anac_mar = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_03_2021.csv', sep=';')
anac_apr = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_04_2021.csv', sep=';')
anac_may = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_05_2021.csv', sep=';')
anac_jun = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_06_2021.csv', sep=';')
anac_jul = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_07_2021.csv', sep=';')
anac_aug = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_08_2021.csv', sep=';')
anac_sep = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_09_2021.csv', sep=';')
anac_oct = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_10_2021.csv', sep=';')
anac_nov = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_11_2021.csv', sep=';')
anac_dec = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/ANAC_BigData_Analysis/main/Dataset/vra_12_2021.csv', sep=';')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [53]:
#Verificando início das datas
anac_jan.head(5)

,ICAO Empresa Aerea,Numero Voo,Codigo DI,Codigo Tipo Linha,ICAO Aerodromo Origem,ICAO Aerodromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situacao Voo
0,AAL,904,0,X,SBGL,KMIA,01/01/2021 23:35,01/01/2021 23:29,02/01/2021 08:10,02/01/2021 07:56,REALIZADO
1,AAL,904,0,X,SBGL,KMIA,02/01/2021 23:35,02/01/2021 23:34,03/01/2021 08:10,03/01/2021 08:14,REALIZADO
2,AAL,904,0,X,SBGL,KMIA,03/01/2021 23:35,03/01/2021 23:27,04/01/2021 08:10,04/01/2021 07:57,REALIZADO
3,AAL,904,0,X,SBGL,KMIA,04/01/2021 23:45,04/01/2021 23:38,05/01/2021 08:20,05/01/2021 07:51,REALIZADO
4,AAL,904,0,X,SBGL,KMIA,05/01/2021 23:45,05/01/2021 23:34,06/01/2021 08:20,06/01/2021 08:12,REALIZADO

In [54]:
#Verificando final das datas
anac_dec.tail(5)

,ICAO Empresa Aerea,Numero Voo,Codigo DI,Codigo Tipo Linha,ICAO Aerodromo Origem,ICAO Aerodromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situacao Voo
71774,UPS,445,0,X,SBKP,KMIA,12/12/2021 11:55,12/12/2021 20:05,12/12/2021 19:50,13/12/2021 04:18,REALIZADO
71775,UPS,445,0,X,SBKP,KMIA,19/12/2021 11:55,20/12/2021 08:47,19/12/2021 19:50,20/12/2021 16:38,REALIZADO
71776,VDA,5596,9,X,KIAH,MPTO,08/12/2021 16:00,08/12/2021 16:10,08/12/2021 21:30,08/12/2021 21:40,REALIZADO
71777,VDA,5596,9,X,MPTO,SBCB,09/12/2021 12:00,09/12/2021 08:36,09/12/2021 20:00,09/12/2021 15:48,REALIZADO
71778,VDA,5597,9,X,SBCB,GOBD,10/12/2021 09:00,10/12/2021 12:57,10/12/2021 16:00,10/12/2021 19:28,REALIZADO

In [52]:
# União de todos os arquivos em um só
anac_annual_df = anac_jan.append([anac_feb, anac_mar, anac_apr, anac_may, anac_jun, anac_jul, anac_aug, anac_sep, anac_oct, anac_nov, anac_dec], ignore_index=True)
anac_annual_df

,ICAO Empresa Aerea,Numero Voo,Codigo DI,Codigo Tipo Linha,ICAO Aerodromo Origem,ICAO Aerodromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situacao Voo
0,AAL,904,0,X,SBGL,KMIA,01/01/2021 23:35,01/01/2021 23:29,02/01/2021 08:10,02/01/2021 07:56,REALIZADO
1,AAL,904,0,X,SBGL,KMIA,02/01/2021 23:35,02/01/2021 23:34,03/01/2021 08:10,03/01/2021 08:14,REALIZADO
2,AAL,904,0,X,SBGL,KMIA,03/01/2021 23:35,03/01/2021 23:27,04/01/2021 08:10,04/01/2021 07:57,REALIZADO
3,AAL,904,0,X,SBGL,KMIA,04/01/2021 23:45,04/01/2021 23:38,05/01/2021 08:20,05/01/2021 07:51,REALIZADO
4,AAL,904,0,X,SBGL,KMIA,05/01/2021 23:45,05/01/2021 23:34,06/01/2021 08:20,06/01/2021 08:12,REALIZADO
...,...,...,...,...,...,...,...,...,...,...,...
609796,UPS,445,0,X,SBKP,KMIA,12/12/2021 11:55,12/12/2021 20:05,12/12/2021 19:50,13/12/2021 04:18,REALIZADO
609797,UPS,445,0,X,SBKP,KMIA,19/12/2021 11:55,20/12/2021 08:47,19/12/2021 19:50,20/12/2021 16:38,REALIZADO
609798,VDA,5596,9,X,KIAH,MPTO,08/12/2021 16:00,08/12/2021 16:10,08/12/2021 21:30,08/12/2021 21:40,REALIZADO
609799,VDA,5596,9,X,MPTO,SBCB,09/12/2021 12:00,09/12/2021 08:36,09/12/2021 20:00,09/12/2021 15:48,REALIZADO
609800,VDA,5597,9,X,SBCB,GOBD,10/12/2021 09:00,10/12/2021 12:57,10/12/2021 16:00,10/12/2021 19:28,REALIZADO

In [56]:
anac_annual_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609801 entries, 0 to 609800
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ICAO Empresa Aerea      609801 non-null  object
 1   Numero Voo              609801 non-null  object
 2   Codigo DI               609801 non-null  object
 3   Codigo Tipo Linha       607651 non-null  object
 4   ICAO Aerodromo Origem   609801 non-null  object
 5   ICAO Aerodromo Destino  609801 non-null  object
 6   Partida Prevista        608708 non-null  object
 7   Partida Real            579866 non-null  object
 8   Chegada Prevista        608708 non-null  object
 9   Chegada Real            579866 non-null  object
 10  Situacao Voo            609801 non-null  object
dtypes: object(11)
memory usage: 51.2+ MB